@model DAL.Registration.RegistrationOfInterest
@using WebApp.Components

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistrationOfInterest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Municipality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Municipality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolForm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolForm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeachersSubjects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeachersSubjects)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGroupSubjects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentGroupSubjects)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalSubjectsOfInterest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalSubjectsOfInterest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Program)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weeks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weeks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeeksWanted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeeksWanted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <component render-mode="ServerPrerendered"
               type="typeof(MatchedRegistrationsOfInterest)"
               param-TobeMatched="Model" />
</div>


@*<a asp-action="@(nameof(RegistrationOfInterestController.Match))" asp-route-id="@Model.Id">Hitta matchningar för denna ansökan</a>*@