@model RegistrationOfInterestViewModel

@{
    ViewData["Title"] = "List";
    var aspAction = nameof(RegistrationOfInterestController.List);
}


<h1>List</h1>

<partial name="_Pagination" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.FirstName)">
                    @Html.DisplayNameFor(model => model.Form.FirstName)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.Email)">
                    @Html.DisplayNameFor(model => model.Form.Email)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.PhoneNumber)">
                    @Html.DisplayNameFor(model => model.Form.PhoneNumber)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.School)">
                    @Html.DisplayNameFor(model => model.Form.School)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.Municipality.Name)">
                    @Html.DisplayNameFor(model => model.Form.Municipality.Name)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.SchoolForm)">
                    @Html.DisplayNameFor(model => model.Form.SchoolForm)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.Grade)">
                    @Html.DisplayNameFor(model => model.Form.Grade)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.Program)">
                    @Html.DisplayNameFor(model => model.Form.Program)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.MeetingType)">
                    @Html.DisplayNameFor(model => model.Form.MeetingType)
                </a>
            </th>
            <th>
                <a action="@aspAction" class="sort-link"
                   asp-route-currentpage="@(Model.CurrentPage)" asp-route-sortby="@nameof(Model.Form.Weeks)">
                    @Html.DisplayNameFor(model => model.Form.Weeks)
                </a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Registrations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipality.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolForm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weeks)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Pagination" />

