@page "/registrationofinterests"
@inject IRegistrationOfInterestService RegistrationsService
@inject IMatchService MatchService
@inject NavigationManager NavigationManager


<DataGrid TItem="RegistrationOfInterest" Data="@_registrations" @bind-SelectedRow="SelectedRegistration"
          Sortable="true" Editable="true" EditMode="DataGridEditMode.Popup" Filterable="true" ShowPager="true" PageSize="14">
    <ButtonRowTemplate>
        <Button Color="Color.Primary" Disabled="@(SelectedRegistration is null)" Clicked="Match">Matcha</Button>
        <Button Color="Color.Primary" Disabled="@(SelectedRegistration is null)" Clicked="context.EditCommand.Clicked">Redigera</Button>
        <Button Color="Color.Danger" Disabled="@(SelectedRegistration is null)" Clicked="context.DeleteCommand.Clicked">Ta bort</Button>
        <Button Color="Color.Link" Clicked="@context.ClearFilterCommand.Clicked">Rensa filter</Button>
    </ButtonRowTemplate>
    <ChildContent>
        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.FullName)"
                        Sortable="true" Caption="Namn" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.School)"
                        Sortable="true" Caption="Skola" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="Municipality.Name"
                        Sortable="true" Caption="Kommun" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.SchoolForm)"
                        Sortable="true" Caption="Skolform" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.MeetingType)"
                        Sortable="true" Caption="Mötestyp" Editable="true" />
    </ChildContent>

    <EmptyTemplate>
        <div class="box">
            Laddar...
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="box">
            <progress class="progress is-small is-primary" max="100" />
        </div>
    </LoadingTemplate>
</DataGrid>


@*
        * MATCHING SECTION *

    @*MATCHING OPTIONS*@
@if (_matchOptions != null)
{
<EditForm Model="@_matchOptions">
    <Label>Endast på schema</Label>
    <InputCheckbox @bind-Value="@_matchOptions.MatchOnlyOnSchedule" />
    <Label>Endast på vekor</Label>
    <InputCheckbox @bind-Value="@_matchOptions.MatchOnlyOnWeeks" />
    <Label>Inkludera osäkra schematider</Label>
    <InputCheckbox @bind-Value="@_matchOptions.MatchUncertainSchedule" />
</EditForm>
}


@*MATCHING RESULTS*@
@if (_isMatchLoaded)
{
    <h3>Matchningar</h3>
    <Divider/>
    foreach (var m in _matches)
    {
        <div>
            <p>@m.School</p>
            <p>@($"{m.FirstName} {m.LastName}")</p>
            <p>@(m.Municipality?.Name ?? "Ingen info om kommun")</p>
            <Blazorise.Link @onclick="(() => GoToDetails(m.Id))">More info</Blazorise.Link>
        </div>
        <Divider />
    }
}



