@page "/register"
@inject IRegistrationFormService _formService;
@inject IScheduleService _scheduleService;
@attribute [Authorize]

@if (!SubmitSuccessfull)
{

    if (_form == null || _municipalities == null || _subjects == null)
    {
        <h5>Loading...</h5>
    }
    else
    {
        <EditForm Model="@_form" OnValidSubmit="@SubmitForm">
            <DataAnnotationsValidator />
            <Steps SelectedStep="@_selectedStep" SelectedStepChanged="@OnSelectedStepChanged">
                <Items>
                    <div class="cursor">
                        <Step Name="@_steps[0]" Completed="@(_isStepOneValidated ? true : false)">@_steps[0]</Step>
                        <Step Name="@_steps[1]" Completed="@(_isStepTwoValidated ? true : false)">@_steps[1]</Step>
                        <Step Name="@_steps[2]" Completed="@(_isStepThreeValidated ? true : false)">@_steps[2]</Step>
                        <Step Name="@_steps[3]" Completed="@(_isStepFourValidated ? true : false)">@_steps[3]</Step>
                        <Step Name="@_steps[4]">
                            <Marker>
                                <Icon Name="IconName.Flag" />
                            </Marker>
                            <Caption>
                                @_steps[4]
                            </Caption>
                        </Step>
                    </div>
                </Items>
                <Content>
                    <StepPanel Name="@_steps[0]">
                        <h4 class="h3">Lite om dig som lärare och din skola</h4>
                        <div class="container w-75">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Förnamn</label>
                                <InputTextOnInput id="firstName" class="form-control" @bind-Value="@_form.FirstName" />
                                <ValidationMessage For="() => _form.FirstName" />
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Efternamn</label>
                                <InputTextOnInput id="lastName" class="form-control" @bind-Value="_form.LastName" />
                                <ValidationMessage For="() => _form.LastName" />
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <InputTextOnInput id="email" class="form-control" @bind-Value="_form.Email" />
                                <ValidationMessage For="() => _form.Email" />
                            </div>
                            <div class="mb-3">
                                <label for="phonenumber" class="form-label">Telefonnummer</label>
                                <div class="input-group">
                                    <div class="input-group-text">+46</div>
                                    <InputTextOnInput id="phonenumber" class="form-control" @bind-Value="_form.PhoneNumber" />
                                    <ValidationMessage For="() => _form.PhoneNumber" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="school" class="form-label">Skolans namn</label>
                                <InputTextOnInput id="school" class="form-control" @bind-Value="_form.School" />
                                <ValidationMessage For="() => _form.School" />
                            </div>
                            @{ /* Adress Box */}
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="street" class="form-label">Gatuadress</label>
                                    <InputTextOnInput id="street" class="form-control" @bind-Value="_adress.StreetAdress" />
                                    <ValidationMessage For="() => _adress.StreetAdress" />
                                </div>
                                <div class="mb-3">
                                    <label for="postalcode" class="form-label">Postnummer</label>
                                    <InputTextOnInput id="postalcode" class="form-control" @bind-Value="_adress.PostalCode" />
                                    <ValidationMessage For="() => _adress.PostalCode" />
                                </div>
                                <div class="mb-3">
                                    <label for="municipality" class="form-label">Kommun</label>
                                    <select @bind="_form.MunicipalityRefId" id="municipality" class="form-select">
                                        @foreach (var m in _municipalities)
                                        {
                                            <option value="@m.Id">@m.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </StepPanel>
                    <StepPanel Name="@_steps[1]">
                        <h4 class="h3">Lite om din elevgrupp</h4>
                        <div class="container w-75">
                            <InputRadioGroup @bind-Value="_form.SchoolForm" class="form-check">
                                <label class="form-label">Skolform</label><br />
                                <div class=" d-flex justify-content-center">
                                    @foreach (var sf in EnumTools.GetValues<SchoolForm>())
                                            {
                                        <div class="form-check-inline">
                                            <InputRadio Value="sf" id="@sf" class="form-check-input" />
                                            <label for="@sf" class="form-check-label">@sf</label>
                                        </div>
                                            }
                                </div>
                            </InputRadioGroup> <br />
                            @if (_form.SchoolForm == SchoolForm.Grundskola || _form.SchoolForm == SchoolForm.Gymnasium)
                            {
                                <InputRadioGroup @bind-Value="_form.Grade" class="form-check">
                                    <label class="form-label">Årskurs</label><br />
                                    <div class=" d-flex justify-content-center">
                                        @for (int i = 1; i < 9; i++)
                                                    {
                                            <div class="form-check-inline">
                                                <InputRadio Value="i" id="@i" class="form-check-input" />
                                                <label for="@i" class="form-check-label">@i</label>
                                            </div>
                                            @if (_form.SchoolForm == SchoolForm.Gymnasium && i >= 3) break;
                                                    }
                                    </div>

                                </InputRadioGroup> <br />
                            }
                            <div class="container w-75">
                                @if (_form.SchoolForm == SchoolForm.Grundskola)
                                {
                                    <div class="row d-flex justify-content-center">
                                        @foreach (var s in _subjects.First(g => g.Key == SchoolForm.Grundskola))
                                        {
                                            <div class="form-check col-md-auto m-2">
                                                <input class="form-check-input" type="checkbox" @bind-value="s.IsMarked" id="@s.Id">
                                                <label class="form-check-label" for="@s.Id">@s.Name</label>
                                            </div>
                                        }
                                    </div>
                                }
                                else if (_form.SchoolForm == SchoolForm.Gymnasium)
                                {
                                    <div class="mb-3">
                                        <label for="program" class="form-label">Program</label>
                                        <InputTextOnInput id="program" class="form-control" @bind-Value="_form.Program" />
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        @foreach (var s in _subjects.First(g => g.Key == SchoolForm.Gymnasium))
                                        {
                                            <div class="form-check col-md-auto m-2">
                                                <input class="form-check-input" type="checkbox" @bind-value="s.IsMarked" id="@s.Id">
                                                <label class="form-check-label" for="@s.Id">@s.Name</label>
                                            </div>
                                        }
                                    </div>
                                }
                                else if (_form.SchoolForm == SchoolForm.Sfi)
                                {
                                    <div class="row d-flex justify-content-center">
                                        @foreach (var s in _subjects.First(g => g.Key == SchoolForm.Sfi))
                                        {
                                            <div class="form-check col-md-auto m-2">
                                                <input class="form-check-input" type="checkbox" @bind-value="s.IsMarked" id="@s.Id">
                                                <label class="form-check-label" for="@s.Id">@s.Name</label>
                                            </div>
                                        }
                                    </div>
                                }
                                else if (_form.SchoolForm == SchoolForm.AnnanVuxenutbildning)
                                {
                                    <div class="row d-flex justify-content-center">
                                        @foreach (var s in _subjects.First(g => g.Key == SchoolForm.AnnanVuxenutbildning))
                                        {
                                            <div class="form-check col-md-auto m-2">
                                                <input class="form-check-input" type="checkbox" @bind-value="s.IsMarked" id="@s.Id">
                                                <label class="form-check-label" for="@s.Id">@s.Name</label>
                                            </div>
                                        }
                                    </div>
                                }
                                else if (_form.SchoolForm == SchoolForm.Övrig)
                                {
                                    <label for="otherschoolform" class="form-label">Förklara om vad för utbildning, vad för inriktning, kurser i fritext</label>
                                    <InputTextArea id="otherschoolform" class="form-control" @bind-Value="_form.OtherSchoolFormTextArea" />
                                }
                            </div>
                        </div>
                    </StepPanel>
                    <StepPanel Name="@_steps[2]">
                        <h4 class="h3">Lite om hur ni önskar mötet</h4>
                        <div class="container w-75">
                            <InputRadioGroup @bind-Value="_form.MeetingType" class="form-check">
                                <label class="form-label">Mötestyp</label><br />
                                <div class="row d-flex justify-content-center">
                                    @foreach (var mt in EnumTools.GetValues<MeetingType>())
                                            {
                                        <div class="form-check col-md-auto m-2">
                                            <InputRadio Value="mt" id="@mt" class="form-check-input" />
                                            <label for="@mt" class="form-check-label">@mt</label>
                                        </div>
                                            }
                                </div>
                            </InputRadioGroup>
                        </div>
                        @{ /* If physical, check if they can host/travel */}
                        @if (_form.MeetingType == MeetingType.Fysiskt)
                        {
                            <div class="row d-flex justify-content-center">
                                <div class="form-check col-md-auto">
                                    <input class="form-check-input" type="checkbox" @bind="_form.CanHostMatch" id="checkhost">
                                    <label class="form-check-label" for="checkhost">Vi kan hosta potentiella möten</label><br />
                                </div>
                                <div class="form-check col-md-auto">
                                    <input class="form-check-input" type="checkbox" @bind="_form.CanVisitMatch" id="checkvisit">
                                    <label class="form-check-label" for="checkvisit">Vi har transport till potentiella möten</label><br />
                                </div>
                            </div>
                        }
                        <div class="container w-75">
                            <label class="form-label">Veckor</label><br />
                            <div class="row">
                                @foreach (var w in _weeks)
                                {
                                    <div class="form-check col-md-auto">
                                        <input class="form-check-input" type="checkbox" @bind-value="w.IsMarked" id="@w.WeekNumber">
                                        <label class="form-check-label" for="@w.WeekNumber">@($"v.{w.WeekNumber}")</label><br />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="container w-75">
                            <label class="form-label">Teman</label><br />
                            <div class="row">
                                <label for="theme" class="form-label">Vad för tema önskar ni?</label>
                                <InputTextArea id="theme" class="form-control" @bind-Value="_form.Theme" />
                                <div class="form-text">
                                    Vill du läsa mer om teman?
                                    <a class="link-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                                       style="cursor:pointer;">
                                        Klicka här.
                                    </a>
                                </div>
                            </div>
                        </div>
                    </StepPanel>
                    <StepPanel Name="@_steps[3]">
                        <h4 class="h3">Fyll i vilka tider som passar</h4>
                        <FormScheduler Form="_form"></FormScheduler>
                    </StepPanel>
                    <StepPanel Name="@_steps[4]">
                        <button type="submit" class="btn btn-primary">Skicka</button>
                    </StepPanel>
                </Content>
            </Steps>
        </EditForm>

        //Offcanvas for themes from website
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Teman</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="card" style="width: 18rem;">
                    <img src="https://varldenfinnshar.se/wp-content/uploads/2020/10/IMG_5318redliten-640x480.jpg?x58328" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jag, familjen och samhället</h5>
                        <p class="card-text">Hur kan familjer se ut och fungera? Hur får vi stöd när vi behöver det? Samtal om familj och samhälle.</p>
                        <a href="https://varldenfinnshar.se/lektioner/jag-familjen-och-samhallet/" class="btn btn-primary"
                           target="_blank">Läs Mer</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://varldenfinnshar.se/wp-content/uploads/2020/10/girl-495923-640x480.jpg?x58328" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Barndom och identitet</h5>
                        <p class="card-text">Hur blir vi de vi är? Vilken betydelse har uppväxt och livsvillkor för vilka vägar vi tar i livet?</p>
                        <a href="https://varldenfinnshar.se/lektioner/barndom-och-identitet/" class="btn btn-primary"
                           target="_blank">Läs Mer</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://varldenfinnshar.se/wp-content/uploads/2020/08/Mediaonyheter-ny-laddaupp-e1598430185305-640x480.jpg?x58328" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Media och nyheter</h5>
                        <p class="card-text">Vilka nyheter uppmärksammas i världen och varför? Vad är trovärdigt och hur påverkas vi?</p>
                        <a href="https://varldenfinnshar.se/lektioner/media-och-nyheter/" class="btn btn-primary"
                           target="_blank">Läs Mer</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://varldenfinnshar.se/wp-content/uploads/2020/08/Att-flyttta-och-fly-att-ladda-upp-scaled-e1598340779765-640x480.jpg?x58328" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Att flytta och fly</h5>
                        <p class="card-text">Hur kan det vara att flytta inom eller mellan länder? Har du eller dina föräldrar flyttat?</p>
                        <a href="https://varldenfinnshar.se/lektioner/att-flytta-och-fly/" class="btn btn-primary"
                           target="_blank">Läs Mer</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://varldenfinnshar.se/wp-content/uploads/2020/08/Typiskt-svenskt-att-ladda-upp-2-scaled-e1598340850796-640x480.jpg?x58328" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Typiskt svenskt?</h5>
                        <p class="card-text">Hur ser de sociala och kulturella normerna ut i Sverige och i andra delar av världen? Hur påverkar de oss?</p>
                        <a href="https://varldenfinnshar.se/lektioner/typiskt-svenskt/" class="btn btn-primary"
                           target="_blank">Läs Mer</a>
                    </div>
                </div>
            </div>
            <div class="loadmore-wrapper">
                <a class="link-info" href="https://varldenfinnshar.se/lektioner/" target="_blank">
                    Besök vår hemsida för alla teman.
                </a>
            </div>
        </div>
    }
}
else
{
    <p>@SuccessMessage</p>
}
