@page "/registrationofinterests"
@inject IRegistrationOfInterestService _registrationsService;
@inject IMatchService _matchService;
@inject NavigationManager _navigationManager;

<DataGrid TItem="RegistrationOfInterest" Data="@_registrations" @bind-SelectedRow="SelectedRegistration"
          Sortable="true" Editable="true" EditMode="DataGridEditMode.Popup" Filterable="true" ShowPager="true" PageSize="14">
    <ButtonRowTemplate>
        <Button Color="Color.Primary" Disabled="@(SelectedRegistration is null)" Clicked="Match">Matcha</Button>
        <Button Color="Color.Primary" Disabled="@(SelectedRegistration is null)" Clicked="context.EditCommand.Clicked">Redigera</Button>
        <Button Color="Color.Danger" Disabled="@(SelectedRegistration is null)" Clicked="context.DeleteCommand.Clicked">Ta bort</Button>
        <Button Color="Color.Link" Clicked="@context.ClearFilterCommand.Clicked">Rensa filter</Button>
    </ButtonRowTemplate>
    <ChildContent>
        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.FullName)"
                        Sortable="true" Caption="Namn" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.School)"
                        Sortable="true" Caption="Skola" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="Municipality.Name"
                        Sortable="true" Caption="Kommun" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.SchoolForm)"
                        Sortable="true" Caption="Skolform" Editable="true" />

        <DataGridColumn TItem="RegistrationOfInterest" Field="@nameof(RegistrationOfInterest.MeetingType)"
                        Sortable="true" Caption="Mötestyp" Editable="true" />
    </ChildContent>

    <EmptyTemplate>
        <div class="box">
            Laddar...
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="box">
            <progress class="progress is-small is-primary" max="100" />
        </div>
    </LoadingTemplate>
</DataGrid>


@*
        * MATCHING SECTION *

    @*MATCHING OPTIONS*@
@if (_matchOptions != null)
{
    <EditForm Model="@_matchOptions">
        <Label>Endast på schema</Label>
        <InputCheckbox @bind-Value="@_matchOptions.MatchOnlyOnSchedule" />
        <Label>Endast på vekor</Label>
        <InputCheckbox @bind-Value="@_matchOptions.MatchOnlyOnWeeks" />
        <Label>Inkludera osäkra schematider</Label>
        <InputCheckbox @bind-Value="@_matchOptions.MatchUncertainSchedule" />
    </EditForm>
}


@*MATCHING RESULTS*@

<Modal @ref="_matchesModal">
    <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Matchningar</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if (_isMatchLoaded)
            {
                <p class="head">
                    Matchar mot <span>@_selectedRegistration.FullName</span> på <span>@_selectedRegistration.School</span>.
                </p>
                <div>
                    Valda Veckor : @String.Join(", ", _selectedRegistration.Weeks.Select(w => w.WeekNumber))
                </div>
                <div>
                    Valda Tider : @String.Join(", ", _selectedRegistration.ScheduledTimeSpans.Select(t => t.Time.ToShortTimeString()))
                </div>
                <h4>Ämnen</h4>
                <div class="tags">
                    @foreach (var s in _selectedRegistration.Subjects)
                    {
                        <p class="tag">@s.Name</p>
                    }
                </div>

                <div class="matchfooter">
                    <div class="matchfooter-row">
                        <i class="fas fa-phone-alt"></i>
                        <p>@_selectedRegistration.PhoneNumber</p>
                    </div>
                    <div class="matchfooter-row">
                        <i class="fas fa-envelope-open"></i>
                        <p>@_selectedRegistration.Email</p>
                    </div>
                </div>

                <Divider />
                foreach (var m in _matches)
                {
                    <div>
                        <p>@m.School</p>
                        <p>@($"{m.FirstName} {m.LastName}")</p>
                        <p>@(m.Municipality?.Name ?? "Ingen info om kommun")</p>
                        <a @onclick="(() => GoToDetails(m.Id))" style="cursor:pointer;">Läs mer</a>
                        <a @onclick="(() => GoToSideBySideComparison(_selectedRegistration.Id, m.Id))" style="cursor:pointer;">
                            Gå Till Detaljerad Jämförelse
                        </a>
                    </div>
                    <div>
                        @foreach (var w in _matchService.GetMatchedWeek(_selectedRegistration, m))
                        {
                            <p>Week @w.WeekNumber</p>
                        }
                    </div>
                    <div>
                        @foreach (var t in _matchService.GetMatchedTime(_selectedRegistration, m))
                        {
                            <p>Week @t.Time.ToShortTimeString()</p>
                        }
                    </div>
                    <div>
                        Veckor : @String.Join(", ", _matchService.GetMatchedWeek(_selectedRegistration, m).Select(w => w.WeekNumber))
                    </div>
                    <div>
                        Tider : @String.Join(", ", _matchService.GetMatchedTime(_selectedRegistration, m).Select(t => t.Time.ToShortTimeString()))
                    </div>
                    <Divider />
                }
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Stäng</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>







